@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    font-family: "Bricolage Grotesque", sans-serif;
    @apply bg-dark text-white;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}